body{
    margin: 0px;
    background-color: black;
    color: rgb(167, 206, 239);
}

.pagewrap{
    display: flex;
    margin: 1rem;   
}
.rightcontainer {
    margin-left: 2rem;
    background-color: blue;
    width: 100rem;
    margin-bottom:20rem;
    max-width: 100%;
    padding-left:100px;
}
.sidebar {
    background-color: blue;
    max-width: 100%;

}

.inline {
    display: flex;
    margin-top: 2px;
   justify-content: left;

}
.so {
    padding-left: 150px;
    
}